body{
    background-image: url(fon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    overflow-x: hidden;
}


aside {
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#dmitrij {
    position: relative;
    height: 400px;
}

#dmitrij img {
    position: absolute;
    top: 120px;
    left: 80%;
    transform: translateX(-50%);
    z-index: 10;
}

header{
    position: relative;
    
}
header h2{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}
header div{
    text-align: left;
    position: absolute;
    top: 100px;
    left: 5%;
    transform: translateX(-50%);
}

#kontakt{
    margin: 0;
    overflow-x: hidden;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 99;
    transform: translateX(+110%);
    transition: transform 0.3s ease;
}

#kontakt #steam,
#kontakt #discord,
#kontakt #telegram{
    position: static;
    margin: 20px 0;
    font-size: 22px;
}

#kontakt #steam{
    left: 25%;
}
#kontakt #discord{
    left: 50%;
}
#kontakt #telegram{
    left: 75%;
}
aside {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

a:link {
    color: cornflowerblue;
  }

a:visited {
    color: cadetblue;
}

#butt {
    margin: 0 auto;
    z-index: 99;
}

button {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    color: white;
    cursor: pointer;
}

/* Бургер кнопка */
.burger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    z-index: 100;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#kontakt.open {
    transform: translateX(0);
}
#kontakt h2 {
    margin-top: 80px;
    margin-bottom: 30px;
}

#mira{
    position: absolute;
    top: 460px;
    width: 150px;
    height: 200px;
    display: inline-block;
    transform-origin: top center;
    animation: swing 2.5s ease-in-out infinite;
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}