body{
    background-color: #222;
    margin: 0;
    font-family: "Acme", sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav, p{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: light 300;
    font-style: normal;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #333;
    border-bottom: 10px solid #444;
    color: white;
    font-size: 48px;
    padding: 10px 0 0 20px;
    text-shadow: 1px 1px 4px #212020;
}

main{
    display: flex;
    justify-content: space-between;
    padding-right: 170px;
    padding-left: 170px;
    padding-top: 50px;
}

section{
    width: 400px;
    height: 500px;
    background-color: #444;
    border-radius: 15px;
    text-align: center;
}

section h1{
    color: white;
    font-size: 34px;
    margin-top: 20px;
    text-shadow: 1px 1px 4px #212020;
}

section p{
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin-top: 20px;
}

.profil{
    width: 230px;
    height: 230px;
    border-radius: 115px;
    margin-top: -25px;
}

nav{
    color: #ffffff;
    font-size: 30px;
    margin-top: 20px;
}

.icon{
    width: 40px;
    height: 40px;
    margin-left: 3px;
    margin-top: 5px;
}

a:hover{
    text-decoration: underline;
}

.profil2{
        display: none;
        width: 48px;
        height: 48px;
        border-radius: 24px;
        margin-left: 10px;
}
@media (min-width: 320px){
    header{
        width: 100%;
    }
    
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    section{
        border-radius: 0;
        width: 100%;
    }
    
    .lewy{
        margin-top: 20px;
        height: 420px;
    }
    
    .prawy{
        margin-top: 20px;
        height: 260px;
    }
    
    .profil{
        display: none;
    }
    
    .profil2{
        display: block;
    }
}    