body{
    background-color: rgb(42, 42, 42);
    color: white;
    margin: 0;
}

header{
    height: 60px;
}

header a{
    color: white;
    font-size: 32px;
    text-decoration: none;
    font-family: Bradley Hand, cursive;
    margin-left: 30px;
    line-height: 60px;
}

#kanap{
    float: left;
}

p{
    font-size: 20px;
    font-family: Noto Sans, sans-serif;
    margin-left: 20px;
}

#about{
    float: right;
    font-size: 25px;
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

a:hover{
    text-decoration: underline;
}

section{
    margin-top: 15px;
    width: 300px;
}

#sueta{
    height: 45px;
    width: 86px;
    float: left;
    margin-left: 8px;
    margin-top: 6px;

}